dj-database-url
dj-static
Django
django-debug-toolbar
django-extensions
django-jazzmin
gunicorn
python-decouple
psycopg2-binary
wheel
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
